.container-a {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 35%;
  background-color: ghostwhite;
  border: 5px solid rgba(146, 80, 208, 0.6);
  border-radius: 3%;
  padding: 10px;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

